<div class="ui secondary menu">
  <div class="item">
    <img class="ui image medium" src="../assets/images/logo.png">
  </div>
  <div class="item">
    <bs-search class="column" (bookSelected)="bookSelected($event)"></bs-search>
  </div>
  <div class="right item">
    <a *ngIf="!isAdmin()" class="ui link" routerLink="shoppingBasket"><i class="shop icon big"></i> Warenkorb</a>
  </div>
</div>
<div class="ui secondary pointing menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a *ngIf="isLoggedIn() && isAdmin()" routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  <a *ngIf="isLoggedIn() && !isAdmin()" routerLink="myOrders" routerLinkActive="active" class="item">Meine Bestellungen</a>
  <a *ngIf="isLoggedIn() && isAdmin()" routerLink="orders" routerLinkActive="active" class="item">Alle Bestellungen</a>
  <div class="right menu">
    <a routerLink="login" routerLinkActive="active" class="ui item">{{getLoginLabel()}}</a>
  </div>
</div>
<div class="ui container">
  <router-outlet></router-outlet>
</div>
